.rowCard {
	margin: 0.3rem;
	padding-top: 1rem;
}

.shadow {
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
		0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
	transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.shadow:hover {
	box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
		0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.shadow-nohover {
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
		0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
	transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.boxCard {
	border-radius: 0.3rem;
	width: 17rem;
	height: 25rem;
}

.CardBody {
	max-height: 100%;
}

.productLink {
	color: black;
}
/* .ribbon {
	width: 150px;
	height: 150px;
	overflow: hidden;
	position: absolute;
}
.ribbon::before,
.ribbon::after {
	position: absolute;
	z-index: -1;
	content: "";
	display: block;
	border: 5px solid red;
}
@media screen and (min-width: 480px) {
}
.ribbon span {
	position: absolute;
	display: block;
	width: 225px;
	padding: 15px 0;
	background-color: red;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	color: #fff;
	font: 700 18px/1 "Lato", sans-serif;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
	text-align: center;
}

.boxCard .ribbon-topRight {
	top: 10px;
	right: 45px;
	z-index: 1;
}
@media screen and (min-width: 480px) {
	.ribbon-topRight {
		top: 10px;
		right: 50px;
		z-index: 1;
	}
}
.ribbon-topRight::before,
.ribbon-topRight::after {
	border-top-color: transparent;
	border-right-color: transparent;
}
.ribbon-topRight::before {
	top: 0;
	left: 0;
}
.ribbon-topRight::after {
	bottom: 0;
	right: 0;
}
.ribbon-topRight span {
	left: -25px;
	top: 30px;
	transform: rotate(45deg);
} */
