.rowOrders {
	margin: 0.5rem;
}

.shadowOrders {
	box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
		0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
	transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.Ordersbox {
	border-radius: 0.3rem;
	width: 90vw;
	height: auto;
}

@media screen and (min-width: 480px) {
	.Ordersbox {
		border-radius: 0.3rem;
		width: 50rem;
		height: auto;
	}
}

.RadioForm {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.RadioLabel {
	display: flex;
	cursor: pointer;
	font-weight: 500;
	position: relative;
	overflow: hidden;
	margin-bottom: 0.375em;
	/* Accessible outline */
	/* Remove comment to use */
	/*
  	&:focus-within {
  			outline: .125em solid $primary-color;
  	}
  */
}
.RadioLabel input {
	position: absolute;
	left: -9999px;
}
.RadioLabel input:checked + span {
	background-color: #d6d6e5;
}
.RadioLabel input:checked + span:before {
	box-shadow: inset 0 0 0 0.4375em #00005c;
}
.RadioLabel span {
	display: flex;
	align-items: center;
	padding: 0.375em 0.75em 0.375em 0.375em;
	border-radius: 99em;
	transition: 0.25s ease;
}
.RadioLabel span:hover {
	background-color: #d6d6e5;
}
.RadioLabel span:before {
	display: flex;
	flex-shrink: 0;
	content: "";
	background-color: #fff;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	margin-right: 0.375em;
	transition: 0.25s ease;
	box-shadow: inset 0 0 0 0.125em #00005c;
}

/* .container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
} */
